@import '../../global-styles/global.scss';

.stories-list {
  width: 100%;
  height: 500px;
  @include d-flex(row, nowrap, stretch, stretch);
  //overflow: hidden;
  z-index: 3;
}

@media only screen and (max-width: 650px) {
  .stories-list {
    width: 100%;
    height: auto;
    @include d-flex(row, wrap, stretch, stretch);
  }
}