@import '../../global-styles/global.scss';

.hero-section {
  @include box-reset();
  @include d-flex(row, nowrap, flex-start, center);
  width: 100%;
  height: 600px;
  color: $black;
  background-color: $white;

  a {
    @include h4();
    color: $black;
    text-decoration: none;
    @include d-flex(row, nowrap, space-between, center);

    svg {
      margin-left: 34px;
      stroke: $black;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.main {
    height: 650px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      transform: translateY(30px);
      height: 300px;
      width: 10px;
      background: $main-gradient-up;
    }
  }

  &.inverted {
    @include inverted($black, $white);

    a {
      color: $white;

      svg {
        stroke: $white;
      }
    }
  }

  &.reverse {
    @include d-flex(row-reverse, nowrap, flex-start, center);
  }
}

.hero-img {
  height: 100%;
  width: 830px;
  object-fit: cover;
  overflow: hidden;
  img {
    width: auto;
    height: 100%;
  }
}

.text {
  @include box-reset();
  @include d-flex(column, nowrap, center, flex-start);
  width: calc(100vw - 830px);
  height: 100%;
  padding: 136px 111px;
  * {
    text-align: left;
  }
}

.headline {
  @include h1();
}

.body-text {
  @include body();
}

@media only screen and (max-width: 1250px) {
  .text {
    width: 40%;
    padding: 5%;
  }

  .hero-img {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .text {
    width: 70%;
  }

  .hero-img {
    width: 30%;
    img {
      width: auto;
      height: 100%;
      object-position: center;
    }
  }
}

@media only screen and (max-width: 650px) {

  .hero-section.main::before {
    height: 10px;
    width: 200px;
    top: 0;
    left: 5%;
    background: $main-gradient-right;
    transform: none;
    transform: translateY(calc(#{$nav-height} + 350px));
  }

  .hero-section {
    height: 650px;
    min-height: 650px;
  }

  .hero-section,
  .hero-section.reverse {
    @include d-flex(column, nowrap, flex-start, center);
    width: 100%;
  }

  .text, 
  .hero-img {
    width: 100%;
    object-fit: cover;
  }
  .hero-img{
    height: 350px;
    img {
      width: 100vw;
      height: 100%;
    }
  } 


  .text {
    @include d-flex(column, nowrap, center, flex-start);
    height: 300px;
  }

  .headline {
    @include h2();
    text-transform: uppercase;
    font-weight: 700;
  }
}